#title-text span {
    display: block;
    float: left;
    margin-right: 5px;
}

.paddle {
    z-index: 101;
    overflow: hidden;
    display: block;
    position: absolute;
    float: left;
    -webkit-transition: -webkit-transform 0.5s ease-in;
}

.paddle.active {
    -webkit-transform: rotate(90deg);
}
    
.ball {
    z-index: 101;
    position: absolute;
    -webkit-transition: -webkit-transform 1s ease-in;
}

.ball.active {
    -webkit-transform: rotate(360deg);
}

#backboard {
    background-color: #fff;
    position: absolute;
    z-index: 100;
    border: 5px solid #003366;
}

#scoreboard {
    background-color: #003366;
    z-index: 100;
    position: absolute;
    height: 30px;
}

#scoreboard #player1-score {
    color: #fff;
    float: left;
    padding: 0;
    margin: 0 0 0 10px;
    font-size: 14pt;
}

#scoreboard #player2-score {
    color: #fff;
    float: right;
    padding: 0;
    margin: 0 10px 0 0;
    font-size: 14pt;
}

.dimmer {
    display: none;
    background-color: #000;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
}

.countdown {
    display: none;
    font-family: sans-serif;
    font-size: 96pt;
    color: #003366;
    position: absolute;
    z-index: 10001;
}

#pong-trigger {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 10px;
    z-index: 1000;
}

.spacer {
    clear: both;
}
